server:
  port: 8000

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka:8760/eureka

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user-service/**
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth-service/**
        - id: social-service
          uri: lb://SOCIAL-SERVICE
          predicates:
            - Path=/social-service/**
        - id: character-service
          uri: lb://CHARACTER-SERVICE
          predicates:
            - Path=/character-service/**