/* 폰트 타이포 */

.preReg {
  font-family: 'Pretendard-Regular';
}
.preBlack {
  font-family: 'Pretendard-Black';
}
.preBold {
  font-family: 'Pretendard-Bold';
}
.preExtra {
  font-family: 'Pretendard-ExtraBold';
}
.preMid {
  font-family: 'Pretendard-Medium';
}
.beeBold {
  font-family: 'UhBeemysenBold';
}
.beeMid {
  font-family: 'UhBeemysen';
}

.phoneOnly {
  display: none;
}
.fs-10 {
  font-size: (10px);
}
.fs-12 {
  font-size: (12px);
}
.fs-13 {
  font-size: (13px);
}
.fs-14 {
  font-size: (14px);
}
.fs-15 {
  font-size: (15px);
}
.fs-16 {
  font-size: (16px);
}
.fs-18 {
  font-size: (18px);
}
.fs-20 {
  font-size: (20px);
}
.fs-22 {
  font-size: (22px);
}
.fs-24 {
  font-size: (24px);
}
.fs-28 {
  font-size: (28px);
}
.fs-30 {
  font-size: (30px);
}
.fs-32 {
  font-size: (32px);
}
.fs-34 {
  font-size: (34px);
}
.fs-36 {
  font-size: (36px);
}
.fs-40 {
  font-size: (40px);
}
.fs-48 {
  font-size: (48px);
}
.fs-50 {
  font-size: (50px);
}
.fs-60 {
  font-size: (60px);
}
.fs-80 {
  font-size: (80px);
}
.fs-90 {
  font-size: (90px);
}
.fs-100 {
  font-size: (100px);
}
