// colors

// main colors
$BLACK: #000000;
$WHITE: #ffffff;
$MAIN: #f0801a;
$BACK: #ffd783;
$BACK_SUB: #ffe5ae;
$MODAL: #fce8c5;
$MODAL_SUB: #e5c9a1;
$BACK_MODAL: #231f20;
$RED: #ff0000;
$WHITE_OPAC: #fff9ed;

// social colors
$KAKAO_YELLOW: #ffeb00;
$KAKAO_BROWN: #3c1e1e;

// gray
$GRAY_3A: #3a3a3a;
$BROWN_47: #473218;
$BROWN_78: #785325;
