.homeClick {
  // background-color: transparent;
}
.noneClick {
  //
}
#MainNavBar {
  // position: fixed;
  width: 100%;
  height: 80px;
  z-index: 100;
  padding: 0 (50px);
  background-color: #ffffff;
  box-shadow: 0 (2px) 0 rgba(181, 146, 146, 0.25);

  .nav-container {
    width: 100%;
    justify-content: space-between;

    .nav-left {
      &_img {
        margin-right: 30px;
      }
      a {
        margin-right: 32px;
      }

      &_text__link + .nav-left_text__link {
        .btn--active {
          color: #f0801a;
        }
        .btn--unactive {
          color: #3a3a3a;
        }
      }
    }
  }
}
